In [ ]:
%cd ..
from google.colab import drive
drive.mount('/content/gdrive')

/
Mounted at /content/gdrive

In [ ]:
from google.colab import files


uploaded = files.upload()

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['airline_stats.csv']))
print(df)

In [ ]:
#Unzipping dataset
dir="/content/gdrive/MyDrive/FDS_PRAC/datasets"
import zipfile
zip_ref=zipfile.ZipFile("/content/gdrive/MyDrive/FDS_PRAC/datasets.zip","r")
zip_ref.extractall(dir)
zip_ref.close()

In [ ]:
#importing numpy library
import numpy
#importing pandas library
import pandas as pd
#Defining path of csv file
location="/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/smallgradesh.csv"
open(location).read()

In [ ]:
#Displaying data of .csv file without header
df=pd.read_csv(location,header=None)
df

In [ ]:
#Display first five lines of data
df.head()

In [ ]:
#loading data from CSV file and adding header
location="/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/smallgradesh.csv"

#To add headers as we load
df=pd.read_csv(location,names=['Names','Grades'])
#To add headers to dataframe
df.columns=['Names','Grades']
df.head()

In [ ]:
#Exporting a dataset to CSV
import pandas as pd
names=['Bob','Jessica','Mary','John','Mel']
grades=[76,95,77,78,99]
GradeList=zip(names,grades)
df=pd.DataFrame(data=GradeList,columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)
df

In [ ]:
import pandas as pd
names=['Bob','Jessica','Mary','John','Mel']
grades=[76,95,77,78,99]
bsdeg=[1,1,0,0,1]
msdeg=[2,1,0,0,0]
phd=[0,1,0,0,0]
GradeList=zip(names,grades,bsdeg,msdeg,phd)
df=pd.DataFrame(data=GradeList,columns=['Names','Grades','BS','MS','Phd'])
df.to_csv('studentgrades.csv',index=False,header=False)
df

In [ ]:
import pandas as pd
csvdata=pd.read_csv("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.csv")
resultexcel=pd.ExcelWriter("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.xlsx")
csvdata.to_excel(resultexcel)
resultexcel.save()
exceldata=pd.read_excel("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.xlsx")
exceldata

In [ ]:
import pandas as pd

location="/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.xlsx"
df= pd.read_excel(location,index_col=0)
df
#Changing column name
df.columns=['first','last','sex','age','exer','hrs','grd','addr']
df.head()

In [ ]:
pip install xlsxwriter

In [ ]:
import pandas as pd
names=['Bob','Jessica','Mary','John','Mel']
grades=[76,95,77,78,99]
GradeList=zip(names,grades)
df=pd.DataFrame(data=GradeList,columns=['Names','Grades'])
writer=pd.ExcelWriter('dataframe.xlsx',engine='xlsxwriter')
df.to_excel(writer,sheet_name='Sheet1')
writer.save()
Location="/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.xlsx"
df=pd.read_excel(Location)
df.head()

In [ ]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.db")

In [ ]:
import os
import sqlite3 as lite
conn=lite.connect('/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.db')
c=conn.cursor()
db_filename=r'/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.db'
con=lite.connect(db_filename)
df.to_sql('test',
          con,
          schema=None,
          if_exists='replace',
          index=True,
          index_label=None,
          chunksize=None,
          dtype=None
          )
con.close()

In [ ]:
names=['Bob','Jessica','Mary','John','Mel']
grades=[76,95,77,78,99]
GradeList=zip(names,grades)
df=pd.DataFrame(data=GradeList,columns=['names','Grades'])
df

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
#Connect to sqlite db
db_file=r'content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/gradedata.xlsx'
engine=create_engine("sqlite:///{}".format(db_file))
sql='SELECT * from test where Grades in (76,77,78)'
sales_data_df = pd.read_sql(sql,engine)
sales_data_df

In [ ]:
import os
import sqlite3 as lite
db_filename=r'mydb.db'
con=lite.connect(db_filename)
df.to_sql('mytable',
          con,
          schema=None,
          if_exists='replace',
          index=True,
          index_label=None,
          chunksize=None,
          dtype=None
          )
con.close()

In [ ]:
from pandas import DataFrame
Cars={'Brand':['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
      'Price':[22000,25000,27000,35000]
      }
df=DataFrame(Cars,columns=['Brand','Price'])
print(df)

In [ ]:
import sqlite3

In [ ]:
conn=sqlite3.connect('TestDB1.db')
c=conn.cursor()

In [ ]:
c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

In [ ]:
df.to_sql('CARS',conn,if_exists='replace',index=False)

In [ ]:
conn=sqlite3.connect('TestDB2.db')
c=conn.cursor()
c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

In [ ]:
Cars={'Brand':['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
      'Price':[22000,25000,27000,35000]
      }
df=DataFrame(Cars,columns=['Brand','Price'])
print(df)

In [ ]:
df.to_sql('CARS',conn,if_exists='replace',index=False)

In [ ]:
c.execute('''
SELECT Brand,max(Price) from CARS
''')

In [ ]:
df=DataFrame(c.fetchall(),columns=['Brand','Price'])
df

In [ ]:

import pandas as pd
import os
import sqlite3 as lite
from sqlalchemy import create_engine
 
EmpId=["E101","E102","E103","E104"]
FName=["Shweta","Manisha","Madhu","Anita"]
LName=["Subnis","Perdesi","Mali","Rai"]
Designation=["ProjectEngineer","Tester","SrSoftwareEngineer","WebDeveloper"]
Basic_Salary=[40000,50000,60000,70000]
 
Empdata = zip(EmpId,FName,LName,Designation,Basic_Salary)
df = pd.DataFrame(data =Empdata, columns=['EmpId','FName','LName','Designation','Basic_Salary'])
df.to_csv('studentgrades.csv',index=False,header=False)
 
 
 
df
 
df1=df.to_csv('employeedata.csv',index=False,header=True)
 
df2=df.to_excel('employeedata2.xlsx',index=False,header=True)
 
db_filename = r'employee.db'
con = lite.connect(db_filename)
df.to_sql('employee',
con,
schema=None,
if_exists='replace',
index=True,
index_label=None,
chunksize=None,
dtype=None)
con.close()
 
dfcsv=pd.read_csv("employeedata.csv")
 
dfcsv
 
dfex=pd.read_excel("employeedata2.xlsx")
dfex
 
db_file = r'employee.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from employee '
'where Basic_Salary in (40000,50000,60000,70000)'
empdf = pd.read_sql(sql, engine)
empdf

In [ ]:
import pandas as pd 
import os
import sqlite3 as lite
from sqlalchemy import create_engine

studentId=["rj101","rj150","rj134","rj70"]
SName=["Saurabh","Giftson","Vikas","Radha"]
LName=["Chavan","Paul","Bisoi","Rai"]
Department=["Bms","Bcom","BscCS","BScIT"]
Email=["100rabh@gmail.com","gift01@gmail.com","vik21@gmail.com","rad01@gmail.com"]

studata = zip(studentId,SName,LName,Department,Email)
df = pd.DataFrame(data =studata, columns=['StudentId','SName','LName','Department','Email'])
df.to_csv('studentdata.csv',index=False,header=False)

df
df1=df.to_csv('studentdata.csv',index=False,header=True)
 
df2=df.to_excel('studentdata2.xlsx',index=False,header=True)
 
db_filename = r'studentdata.db'
con = lite.connect(db_filename)
df.to_sql('student',
con,
schema=None,
if_exists='replace',
index=True,
index_label=None,
chunksize=None,
dtype=None)
con.close()

dfcsv=pd.read_csv("studentdata.csv")
dfcsv


dfex=pd.read_excel("studentdata2.xlsx")
dfex

db_file = r'studentdata.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from student '


studf = pd.read_sql(sql, engine)
studf

In [ ]:

import pandas as pd 
import os
import sqlite3 as lite
from sqlalchemy import create_engine

sales_Representative=["sara","farahan","patrick","francheska","Henry","preson"]
Location=["New_York","Oregon","New_Jersy","New_York","Washington","Oregon"]
Region=["East","west","East","East","West","East"]
Customer=["Justin","Roy","Aian","Franklin","Danie","Phyllis"]
Item=["Watch","Mobile","Stationary","Jeans","Mobile","TV"]
Quantity=[2,1,15,2,1]
Price=[1000,25000,500,5750,10000,50000]

saledata = zip(sales_Representative,Location,Region,Customer,Item,Quantity,Price)
df = pd.DataFrame(data =saledata, columns=['sales_Representative','Location','Region','Customer','Item','Quantity','Price'])
df.to_csv('salestdata.csv',index=False,header=False)


df
df1=df.to_csv('sale1tdata.csv',index=False,header=True)
 
df2=df.to_excel('sale2.xlsx',index=False,header=True)
 
db_filename = r'salesmandata.db'
con = lite.connect(db_filename)
df.to_sql('salesman',
con,
schema=None,
if_exists='replace',
index=False,
index_label=None,
chunksize=None,
dtype=None)
con.close()

dfcsv=pd.read_csv("sale1tdata.csv")
dfcsv


dfex=pd.read_excel("sale2.xlsx")
dfex

db_file = r'salesmandata.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from salesman '


saledf = pd.read_sql(sql, engine)
saledf

In [ ]:
import pandas as pd 
import os
import sqlite3 as lite
from sqlalchemy import create_engine
  
# list of name, degree, score 
nme = ["aparna", "pankaj", "sudhir", "Geeku"] 
deg = ["MBA", "BCA", "M.Tech", "MBA"] 
scr = [90, 40, 80, 98] 
  
# dictionary of lists  
dict = {'name': nme, 'degree': deg, 'score': scr}  
    
df = pd.DataFrame(dict) 
    
df  
df.to_csv('scoredata.csv',index=False,header=False)


df
df1=df.to_csv('scoredata1.csv',index=False,header=True)
 
df2=df.to_excel('scoredata2.xlsx',index=False,header=True)
 
db_filename = r'score.db'
con = lite.connect(db_filename)
df.to_sql('scoretable',
con,
schema=None,
if_exists='replace',
index=False,
index_label=None,
chunksize=None,
dtype=None)
con.close()

dfcsv=pd.read_csv("scoredata1.csv")
dfcsv


dfex=pd.read_excel("scoredata2.xlsx")
dfex

db_file = r'score.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from scoretable where score is 90'


scoredf = pd.read_sql(sql, engine)
scoredf

In [ ]:
import pandas as pd 
import os
import sqlite3 as lite
from sqlalchemy import create_engine

# Create two lists in Python
education = ["Bachelor's", "Less than Bachelor's",
             "Master's","PhD","Professional"]
salary = [110000,105000,126000,144200,96000]

# create a dictionary using lists
a_dict = {"Education":education,
                  "Salary":salary}

# Create a data frame using the dictionary
df = pd.DataFrame(a_dict)
df

df.to_csv('salarydata.csv',index=False,header=False)


df
df1=df.to_csv('salarydata1.csv',index=False,header=True)
 
df2=df.to_excel('salarydata2.xlsx',index=False,header=True)
 
db_filename = r'salary.db'
con = lite.connect(db_filename)
df.to_sql('salarytable',
con,
schema=None,
if_exists='replace',
index=False,
index_label=None,
chunksize=None,
dtype=None)
con.close()

dfcsv=pd.read_csv("salarydata1.csv")
dfcsv


dfex=pd.read_excel("salarydata2.xlsx")
dfex

db_file = r'salary.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from salarytable where salary is 144200'


scoredf = pd.read_sql(sql, engine)
scoredf

### **Data Preprocessing: Data preprocessing is an important step in the data mining process. The phrase "garbage in, garbage out" is particularly applicable to data mining and machine learning projects. Data-gathering methods are often loosely controlled, resulting in out-of-range values (e.g., Income: −100), impossible data combinations (e.g., Sex: Male, Pregnant: Yes), and missing values, etc. Analyzing data that has not been carefully screened for such problems can produce misleading results. Thus, the representation and quality of data is first and foremost before running any analysis.[1] Often, data preprocessing is the most important phase of a machine learning project, especially in computational biology.**
### **If there is much irrelevant and redundant information present or noisy and unreliable data, then knowledge discovery during the training phase is more difficult. Data preparation and filtering steps can take considerable amount of processing time. Data preprocessing includes cleaning, Instance selection, normalization, transformation, feature extraction and selection, etc. The product of data preprocessing is the final training set.**

### **Data Transformation: Data transformation is the process of converting data from one format or structure into another format or structure. It is a fundamental aspect of most data integration and data management tasks such as data wrangling, data warehousing, data integration and application integration.**
### **Data transformation can be simple or complex based on the required changes to the data between the source (initial) data and the target (final) data. Data transformation is typically performed via a mixture of manual and automated steps. Tools and technologies used for data transformation can vary widely based on the format, structure, complexity, and volume of the data being transformed.**

# **Data Preprocessing (Data Preparation and Data Transformations)**

1.   Missing Values
2.   Group By 
3.   Merge
4.   Transform
5.   Apply

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
state=pd.read_csv("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/state (1).csv")
state.head()

In [ ]:
#apply
def some_func(x):
  return x*2
state.apply(some_func) #update each entry of dataframe without any loop
state.apply(lambda n: n*2) #lambda also works the same

In [ ]:
#transform
state.transform(func = lambda x : x * 10)

In [ ]:
#usinggroupby
mean_purchase =state.groupby('Abbreviation')["Murder.Rate"].mean().rename("User_mean").reset_index() 
print(mean_purchase)

In [ ]:
#usinmerge
mean_purchase =state.groupby('Abbreviation')["Murder.Rate"].mean().rename("User_mean").reset_index() 
print(mean_purchase)
mer=state.merge(mean_purchase)

In [ ]:
mer

In [ ]:
#checking for missing values
print(state.isnull().sum())

In [ ]:
import pandas as pd
import numpy as np
cols=['col0', 'col1', 'col2', 'col3', 'col4']
rows=['row0', 'row1', 'row2', 'row3', 'row4']
data=np.random.randint(0, 100, size=(5,5))
df=pd.DataFrame(data, columns=cols, index=rows)
df.head()

In [ ]:
df.iloc[4, 2]

In [ ]:
#use all() method to select columns that don't have zero values
df.loc[:, df.all()]

In [ ]:
#display column that have atleast one non zero value
df.loc[:, df.any()]

In [ ]:
#select columns with any nan
df.loc[:,df.isnull().any()]

In [ ]:
#select column withou nan
df.loc[:, df.notnull().all()]

In [ ]:
df.dropna(how="all", axis=1) #if all the values in columns are nan it will be dropped

In [ ]:
df.dropna(how="any", axis=1) #if all the values in row are nan it will be dropped

In [ ]:
#filling mean value at the place of nan value
df.fillna(df.mean())

In [ ]:
def some_func(x):
  return x*2
df.apply(some_func) #update each entry of dataframe without any loop
df.apply(lambda n: n*2) #lambda also works the same

In [ ]:
#these function do not return the transformation so we have to store it explicitly
df['new_col']=df['col4'].apply(lambda n: n*2)
df.head()

In [ ]:
#Transforming function in Python
import pandas as pd
import numpy as np
#creating a dataframe
df=pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df

In [ ]:
#applying the transform function
df.transform(func = lambda x : x * 10)

In [ ]:
#Demonstrate transfomr function using pandas in python
import pandas as pd
import numpy as np
import random
data = pd.DataFrame({
    'C' : [random.choice(('a','b','c')) for i in range(1000000)],
    'A' : [random.randint(1,10) for i in range(1000000)],
    'B' : [random.randint(1,10) for i in range(1000000)]

})
data

In [ ]:
#use the merge procedure
data.groupby('C')["A"].mean()
mean =data.groupby('C')["A"].mean().rename("N").reset_index()
df_1 = data.merge(mean)

In [ ]:
data['N3'] = data.groupby(['C'])['A'].transform('mean')

In [ ]:
#with apply() function

df['d'] = df.apply(lambda row: row.a + row.b + row.c, axis=1)

In [ ]:
import pandas as pd
import numpy as np
Airline=pd.read_csv("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/airline_stats.csv")
Airline.head()

In [ ]:
#cheaking missing values
print(Airline.isnull().sum())

In [ ]:
Airline.fillna(Airline.mean(), inplace=True)
Airline.isnull().sum()

In [ ]:
mean_purchase =Airline.groupby('pct_atc_delay')["pct_weather_delay"].mean().rename("User").reset_index() 
print(mean_purchase)

In [ ]:
mean_purchase =Airline.groupby('pct_atc_delay')["pct_weather_delay"].mean().rename("User").reset_index() 
print(mean_purchase)
df = Airline.merge(mean_purchase)
df

In [ ]:
#applying the transform function
Airline.transform( lambda x : x * 10 )

In [ ]:

#applying the apply function
Airline.apply(lambda n: n *2,axis=1)

In [ ]:
import pandas as pd
import numpy as np

state=pd.read_csv("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/County_Zhvi_AllHomes.csv")
state.head()

In [ ]:
print(state.isnull().sum())

In [ ]:
state.fillna(state.mean,inplace=True)

In [ ]:
print(state.isnull().sum())

In [ ]:
mean_county =state.groupby('StateCodeFIPS')["MunicipalCodeFIPS"].mean().rename("User_mean").reset_index() 
print(mean_county)

In [ ]:
#applying the transform function
print(loan.transform(lambda x : x * 10))

#applying the apply function
#state.apply(lambda n:n*2,axis=1)

In [ ]:
mean_county =state.groupby('StateCodeFIPS')["MunicipalCodeFIPS"].mean().rename("User_mean").reset_index() 
print(mean_county)
Ma=state.merge(mean_county)

In [ ]:
import pandas as pd
import numpy as np

loan=pd.read_csv("/content/gdrive/MyDrive/FDS_PRAC/datasets/FDSJOURNAL_DATASETS/loan_data.csv")
loan.head()

In [ ]:
print(loan.isnull().sum())

In [ ]:
mean_county =loan.groupby("loan_amnt")["dti"].mean().rename("dti1").reset_index() 
print(mean_county)

In [ ]:
#applying the transform function
print(loan.transform(lambda x : x * 10))

In [ ]:
#applying the apply function
print(loan.apply(lambda n:n*2,axis=1))

In [ ]:
mean_county =loan.groupby('annual_inc')["dti"].mean().rename("dti1").reset_index() 
print(mean_county)
mer=loan.merge(mean_county)

In [ ]:
mer

In [ ]:
# Python program to merge 
# dataframes using Panda 
  
# Dataframe created 
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                    'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']}) 
  
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                      'C': ['C0', 'C1', 'C2', 'C3'], 
                      'D': ['D0', 'D1', 'D2', 'D3']}) 
                        
# Merging the dataframes                       
pd.merge(left, right, how ='inner', on ='Key')

In [ ]:
import pandas as pd
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
	'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(pd.merge(left,right,on='id'))

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
print(df1)
print(df2)

df3 = pd.merge(df1, df2)
df3